.container {
  text-align: center;
  padding: 10px 20px 26px;
}

.title {
  font-size: 48px;
  margin: 0 auto 16px;
  padding: 0;
}

.text {
  font-size: 20px;
  margin-bottom: 32px;
}

.link {
  color: var(--color-text-primary);
  text-decoration: underline;
}
